<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .fade-enter-active, .fade-leave-active {
            transition: opacity .5s;
        }
        .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
            opacity: 0;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <div class="content" id="app">
        
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand" href="#">VueJS</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="#">Action 1</a>
                            <a class="dropdown-item" href="#">Action 2</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" v-model="keyword" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" v-on:click="search" type="button">Search</button>
                </form>
            </div>
        </nav>

        <div class="row">
            <div class="col-md-4">
                <u><h1>Tasks</h1></u>
                <h3 v-for="t in tasks">{{capitalize(t)}}</h3>
                <input type="text" v-model="task" class="form-control">
                <button type="button" class="btn btn-primary" v-on:click="addTask">+ Add</button>
            </div>
            <div class="col-md-4">
                <h1>Vue Component</h1>
                <input type="text" v-model="title" class="form-control">
                <blog-post v-bind:post-title.sync="title"></blog-post>
                <author v-bind:author-name.sync="author"></author>
                <category v-bind:cat-name.sync="category"></category>
                Once: <b>{{getOnce}}</b>
                <div id="demo">
                    <button v-on:click="show = !show">
                        Toggle
                    </button>
                    <transition name="fade">
                        <p v-if="show">hello</p>
                    </transition>
                </div>
            </div>
            <div class="col-md-4">
                <h2> Form submit events on keypress</h2>
                <input type="submit" v-on:keyup.enter="submit" value="v-on:keyup.enter">
                <input type="submit" v-on:keyup.tab="submit" value="v-on:keyup.tab">
                <input type="submit" v-on:keyup.delete="submit" value="v-on:keyup.delete">
                <input type="submit" v-on:keyup.esc="submit" value="v-on:keyup.esc">
                <input type="submit" v-on:keyup.up="submit" value="v-on:keyup.up">
                <input type="submit" v-on:keyup.down="submit" value="v-on:keyup.down">
                <input type="submit" v-on:keyup.right="submit" value="v-on:keyup.right">
                <input type="submit" v-on:keyup.left="submit" value="v-on:keyup.left">
                <hr>
                <h2>click + Key press</h2>
                <div v-on:click.ctrl="submit">v-on:click.ctrl</div>
                <div v-on:click.alt="submit">v-on:click.alt</div>
                <div v-on:click.shift="submit">v-on:click.shift</div>
                <div v-on:click.meta="submit">v-on:click.meta</div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="./main.js"></script>
</body>
</html>